<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Index</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap-3.3.6/dist/css/bootstrap.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">

      <!-- Cabecera -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              LOGO
            </a>
          </div>
        </div>
      </nav>

      <!-- Menu Izquierda -->
      <div class="col-xs-4">
      <!-- Categoria 1 -->
      <div class="panel-group" role="tablist">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
              <h4 class="panel-title">
                <a class="" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">
                  Categoria  1
                </a>
              </h4>
            </div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
              <ul class="list-group">
                <li class="list-group-item">Feed 1 - Categoria 1 <span class="badge">14</span> </li>
                <li class="list-group-item">Feed 2 - Categoria 1 <span class="badge">7</span> </li>
                <li class="list-group-item">Feed 3 - Categoria 1 <span class="badge">0</span> </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Categoria 2 -->
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
                <h4 class="panel-title">
                  <a class="" role="button" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="true" aria-controls="collapseListGroup2">
                    Categoria  2
                  </a>
                </h4>
              </div>
              <div id="collapseListGroup2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading2" aria-expanded="true">
                <ul class="list-group">
                  <li class="list-group-item">Feed 1 - Categoria 2</li>
                  <li class="list-group-item">Feed 2 - Categoria 2</li>
                  <li class="list-group-item">Feed 3 - Categoria 2</li>
                </ul>
              </div>
            </div>
          </div>
        <!-- Sin Categoria -->
        <div>
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Feed 1 - Sin Categoria</a></li>
            <li class="list-group-item">Feed 2 - Sin Categoria</li>
            <li class="list-group-item">Feed 3 - Sin Categoria</li>
          </ul>
        </div>

      </div> <!-- Fin Menu Izquierdo -->

      <!-- Contenido -->
      <div class="col-xs-8">

        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" data-src="holder.js/128x128" alt="128x128" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY1MTUxYTJmMSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NjUxNTFhMmYxIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxNC41IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 128px; height: 128px;">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading"><a href="#">Media heading</a></h3>
            <p><span class="label label-default">Feed1</span> · <small>dd/mm/aaaa hh:mm</small></p>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">Media heading</h3>
            <p><span class="label label-default">Feed1</span> · <small>dd/mm/aaaa hh:mm</small></p>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

      <!-- Pagination -->
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      </div> <!-- Fin Contenido -->
    </div>

    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="css/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
  </body>
</html>
