<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>..:: onze READER ::..</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap-3.3.6/dist/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/reader2.css" rel="stylesheet" media="screen">
    <link href="css/content.css" rel="stylesheet" media="screen">
    <link href="css/sidebar.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="header">
      {% include 'reader/header.twig' %}
    </div>

    <div id="wrapper">
      <div class="row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div id="sidebar-wrapper" class="col-xs-3 sidebar-offcanvas" role="navigation">
            {% include 'reader/sidebar.twig' %}
        </div>

        <div id="main-wrapper">
          <div id="content" class="col-xs-9 pull-right" data-option="all">
            <section id="content-list" data-loading="off" data-page="1">
              {% include 'reader/content.twig' %}
            </section>
          </div>
        </div>
        -->
    </div>

    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="css/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>

    <script src="js/main.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="js/content.js"></script>
</body>

</html>
